* {
	margin: 0;
	padding: 10px;
}



:root{
--light0: #E4F1F6; 
--light1: #67AFCB;
--dark0: #347B98;
--dark1: #1A3E4C;
--dark2: #092834;
--darkest: #022B3B;
}

.grid{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
	"countDown"
	"journal"
	"links"
	"calendar";
}

@media only screen and (min-width:700px){
 .grid{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
	"header header" 
	"countDown journal"
	"calendar journal"
	"links links";
	background-color: var(--darkest);
}
}
.header {
	grid-area: header;
	color: var(--dark2);
        background-color: var(--light1);

}

.journal {
	grid-area: journal;
	background-color: var(--light0);
}

.countDown {
	grida-area: countDown;
	background-color: var(--dark0);
}

.calendar {
	grid-area: calendar;
	background-color: var(--light1);
}

.links {
	grid-area: links;
	color: var(--light0);
	background-color: var(--dark1);
}

a:link, a:visited{
	color: var(--light1);
}
