* {
	margin: 0;
	padding: 10px;
}


/* 6 colours in the set */
:root{
--light0: #FEEEDC; /*main pane .journal*/ 
--light1: #FDB768; /*heading&calendar panes .header*/
--dark0: #975102; /*top left pane .countdown*/
--dark1: #4E300E; /*bottom pane .links*/
--dark2: #FB8604; /*heading-text*/
--darkest: #FFFFFF; /*background (behind grid)*/
}

.grid{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
	"countDown"
	"journal"
	"links"
	"calendar";
}

@media only screen and (min-width:700px){
 .grid{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
	"header header" 
	"countDown journal"
	"calendar journal"
	"links links";
	background-color: var(--darkest);
}
}
.header {
	grid-area: header;
	color: var(--dark2);
        background-color: var(--light1);

}

.journal {
	grid-area: journal;
	background-color: var(--light0);
}

.countDown {
	grida-area: countDown;
	background-color: var(--dark0);
}

.calendar {
	grid-area: calendar;
	background-color: var(--light1);
	font-size: small;
        text-align: center;
}

.links {
	grid-area: links;
	color: var(--light0);
	background-color: var(--dark1);
}

.today {
	background-color: var(--dark2);
	color: var(--light0);
        font-size: small;
}

a:link, a:visited{
	color: var(--light1);
}
